/*Sidebar navigation css 
  https://blog.hubspot.com/website/css-sidebar

  Sidebar navigaton, footer, banner and flexbox for page structure
  https://www.quackit.com/html/html_editors/scratchpad/?example=/css/flexbox/examples/flexbox_website_layout_1
  */

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

header {
  height: 15vh;
}

footer img {
  float: left;
  overflow: auto;
  margin: 0;
  padding: 20;
  height: 75px;
  width: auto;
}

.sample img {
  float: right;
  overflow: auto;
  margin: 0;
  padding: 20;
  height: auto;
  width: 100px;
  border: 1px solid black;
  margin-left:auto;
  margin-right:auto;
}

h1 {
  text-align: center;
  font-size: 7.0rem;
  color: black;
  font-family: 'Courgette', cursive
}


.sidenav{
  background-color: lightgrey;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: "Helveltica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: black;
  background-color: aliceblue;
}


.flex-container {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width:auto;
}

.elementcode-card {
  width: calc(75% - 30px);
  padding: 20px;
}
.elementimage-card {
  width: calc(25% - 30px);
}

.main {
  display: flex;
  flex: 1;
}

.main article {
  flex: 1;
  order: 2;
}

.main nav {
  flex: 0 0 10%;
  order: 1;
  overflow-x: hidden;
}

/*Dropdown button https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav_dropdown*/
.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
  border: none;
  font-size: 20px;
  color: black;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  background-color: lightgrey;
}

.dropdown-container a {
  color: black;
}

.sidenav a:hover,
.dropdown-btn:hover {
  color: black;
}
.active {
  background-color: darkgrey;
  color: black;
}

.dropdown-container {
  display: none;
  background-color: lightgrey;
  padding: 6px 8px 6px 16px;
}



/*table style*/
/*https://www.digitalocean.com/community/tutorials/how-to-style-a-table-with-css*/
table {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: left;
	vertical-align: middle;
  width:100%
  /*margin-left:auto;
  margin-right:auto;*/
}

thead {
  background-color: darkgrey;

}
th, td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px;
}
/*https://www.w3schools.com/howto/howto_css_circles.asp*/
.round-rectangle {
  height: 35px;
  width: 105px;
  border-radius: 25%;
  border: 1px solid black;
  text-align: left;
  display: inline-block;
}

.header-bgcolor{
  background-color: rgb(53, 95, 185);
}
.sidenav-bgcolor{
  background-color:white;
}

.body-bgcolor{
  background-color:  #ffffd5
;}
.cards-bgcolor{
  background-color: rgb(250, 251, 247);
}

.interactive-bgcolor{
  background-color: rgb(204, 70, 26);
}
.footer-bgcolor{
  background-color: white;
}

footer {
  background: white;
  height: 10vh;
}
header,
footer,
article,
nav {
  padding: 1em;
}


.add-horizontal-scroll{
  overflow-x: auto;
}

/*Styles for responsiveness

@media only screen and (min-width: 768px) {
  .flex-container {
    display: flex;
    flex-direction: row;
  }

  nav .menu-label {
    display: none;
  }

  
  nav .toggle {
    display: none;
  }
}

Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {
  nav ul,
  main {
    width: 100%;
    margin: 0;
  }
}
*/