/*global styles*/
html{
  font-size: 62.5%;
}

*{
  box-sizing:border-box;
}

body{
  font-family: "Helveltica", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  height:100%;
  width:100%;
  color:#000;
  background-color: #ffffed;
  
}

h1 {
  text-align: center;
  font-size: 5.0rem;
  line-height: 7rem;
  color: #000;/*#ffffff, alternative white*/
  font-family: 'Courgette', cursive
}


h2, h3, h4, h5, h6{
  text-align: left;
 
  font-family: "Helveltica", sans-serif;
}

h2, h3{
color: #000;
}

h4, h5, h6{
  color: #355FB9;

}



.sidebar {
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #ffffed;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .dropdown-btn,
  .sidebar a {
    display: block;
    color: #000;
    padding: 16px;
    text-decoration: none;
    background-color: #ffffd5;
    cursor: pointer;
    border:none;
    background: none;
    text-align: left;
    font-size: 1.5rem; /* Codepen change */
  }

  .dropdown-container {
    display:none;
    background-color: #ffffed;
    padding: 6px 12px 6px 1px;
    font-style: italic;
    font-size: 1.0rem;
    background: none;
  }
  
  .dropdown-active {
    display:block;
    background-color: #ffffed;
    padding: 6px 12px 6px 1px;
    text-align: center;
    font-style: italic;
    font-size: 1.0rem;
    background: none;
  }
  
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #FF8000;
    color: #FFFFFF;
    font-style:italic; /* Codepen change */
  }
  
  /* Links on mouse-over */
  .dropdown-btn:hover,
  .sidebar a:hover:not(.active) {
    background-color: #FFCC99;
    color: #000;
    font-weight: bold; /* Codepen change */
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  .content {
    margin-left: 20%;
    margin-bottom: 0;
    padding: 2vh;
    
    display: flex;
    flex-direction: column;
    min-height: 0;
    height: 100%;
    position:relative;
  }
  
  .flex-container{
    display: flex;
    flex-direction: row;
  }
  .card {
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    margin: 7px;
    width:100%;
    height:100%;
    position: relative;
    overflow: auto;
    align-self: center;
   
  }

  .card-img{
    width: 100%;
    height:auto;
    border-radius: 15px;
    padding:0px;
    border: 1px solid #331900;
   align-self: center;
  }

  .two-column{
    width:50%;
  }

  .three-column{
    width:33%;
 }

  .img-medium{
    width: 50%;
    height: auto;
  }

  .img-medium-long{
    width: 150px;
    height: auto;
  }

  .card2{
    background-color: #355FB9;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    width:100%;
    height:100%;
    position: relative;
    overflow: auto;
    align-self: center;
   
  }

  /*----- Styling for buttons -----*/
  .button {
    display: inline-block;
    padding: 20px;
    width: 150px;
    font-size:18px; 
    border-radius:50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
  }
  
  
  .button a{
    text-decoration: none;
    color:black}
  
  .active1-button{
    background-color: #FF8000;
    border: 1px solid #331900;
  }
  
  .active2-button{
    background-color: #FFCC99;
    border: 1px solid #331900;
  }
  
  
  .inactive-button{
    background-color: #F0DECB;
    border:1px solid #808080;
    color:#808080;
  }
  
  
  .active1-button:hover,
  .active2-button:hover{
    font-weight: bold;
    border: solid 2px #331900;
  }

  table {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
    width:100%;
    margin-left:auto;
    margin-right:auto;
  }
  
  thead {
    background-color:#F0DECB;
    ;
  
  }
  th, td {
    border-collapse: collapse;
    border: 1px solid #000;
    padding: 8px;
  }

  

 /*----- Form styling -----*/
 
input, select, textarea{
  border-radius: 5px;
  padding:10px;
  margin:5px;
  border: 1px solid #331900;
  width:70%
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.label-required{
 color: #FF4000;
 font-weight:bold;
 font-style:italic;
}


input[type="submit"]:hover,
input[type="reset"]:hover
{
  font-weight:bold;
  border:solid 2px;
}
/*----- End of form styling -----*/
  footer {
    height: 10vh;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
  }

  footer img {
    float: left;
    overflow: auto;
    margin: 0;
    padding: 20;
    height: 90px;
    width: auto;
  }

  footer a{
    color: black;
    text-decoration: underline;
    display: block;
    padding:0px;
    text-align: left;
    cursor: pointer;
  }

  footer a:hover {
    color: #000;
    font-weight: bold; /* Codepen change */
    background-color: #FFFFFF;
  }

  .span-padding{
    
    padding-right: 15px;
  }
  
  /*Colours*/

  .header-bgcolor{
    background-color: #355FB9;
  }

  .success-bgcolor{
    background-color: #4007a3;
  }

  .sidenav-bgcolor{
    background-color:#ffffed;
  }
  
  .body-bgcolor{
    background-color:  #ffffed;
  }
  .cards-bgcolor{
    background-color: #FFFFFF;
  }
  
  .warning-bgcolor{
    background-color: #FF4000;
  }
  .active1-bgcolor{
    background-color: #FF8000;
  }
  .active2-bgcolor{
    background-color: #FFCC99;
  }
  .active-border{
    background-color: #331900;
  }
  
  .inactive-bgcolor{
    background-color: #F0DECB;
  
  }
  
  .inactive-border{
    background-color:  #808080;
  }

  .inactive-font{
    background-color: #808080;
  }
  .font{
    background-color: black;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}

    .flex-container{
      flex-direction: column;
    }
    .img-medium{
      width:100%;
    }
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .dropdown-btn,
    .sidebar a {
      text-align: center;
      float: none;
      padding: 2px;
    }
  }