
html{
    font-size: 62.5%;
  }

  * {
    box-sizing: border-box;
  }
  
  
  header{
    background-color: #ffffff;
    padding: 10px;
    margin:auto;
    height:20%;
    background-image: url("images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*https://www.w3schools.com/accessibility/accessibility_skip_links.php*/

  .skip {
    position: absolute;
    left: -10000px;
    top: auto;
    border:none;
    height:0px;
    width:0px;
    padding:5px;
    background-color:#ffffed;
    color:#000000;
    overflow: hidden;
  }

  .skip:focus {
    position: static;
    width: auto;
    height: auto;
  }

  .skip:hover {
    position: static;
    width: auto;
    height: auto;
    font-weight: bold;
    color: #000000;
  }
  
  h1 {
    text-align: center;
    font-size: 7.0rem;
    line-height: 7rem;
    color: #000;/*#ffffff, alternative white*/
    font-family: 'Courgette', cursive
  }
  
  h2{
    font-size: 3.0rem;
  }
  h2, h3, h4, h5, h6{
    text-align: left;
    color: #000;
    font-family: "Helveltica", sans-serif;
  }

  h2.center{
    padding-left: 45px;
  }

  body{
    
    font-family: "Helveltica", sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    height:100%;
    width:100%;
    color:#000;
    background-color: #ffffed;
    margin: 0;
  }
  
  
  
  .flex-container{
    display: flex;
    flex-direction: row;
    background-color: #ffffed;
    justify-content: space-around;
  }

  
  .card {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 5px;
    width:100%;
    height:100%;
    position: relative;
    overflow: auto;
    align-self: center;
    box-shadow: 0px 5px 10px 0px rgba(65, 65, 65, 0.2);
  }

  .center{
    margin: auto 0;

  }
  .two-column{
    width:48%;
  }

  .three-column{
     width:31%;
  }
/*------ Styling for images -----*/
figure a{
  text-decoration: none;
  color: #000;
}
.img-medium{
  width: 50%;
  height: auto;
}

img.recipe{
  width: auto;
  height:300px;
  border:none;
  padding:0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*----- Styling for navigation -----*/

.topnav {
  overflow: hidden;
  background-color: #355FB9;
}

.flex-nav{
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 20%;
  justify-content: space-around;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #FF8000;
  color: #FFFFFF;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/*------ Breadcrumbs -----*/
ul.breadcrumb {
  padding: 1px 15px;
  list-style: none;
  background-color: #ffffed;
  margin-top:0;
}

ul.breadcrumb li {
  display: inline;
  font-size: 12px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #000;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #4007a3;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  text-decoration: none;
  font-weight: bold;
}

/*----- Styling for buttons -----*/
.button {
  display: inline-block;
  padding: 14px;
  width: 110px;
  font-size:14px; 
  text-align: center;
  cursor:pointer;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border:none;
  /*position: absolute;
  top:50%;
  right: 0;*/
}
.btn-left{
  text-align: left;
}
.button a{
  text-decoration: none;
  color:black}

.active1-button{
  background-color: #FF8000;
  /*border: 1px solid #331900;*/
  
}

.active2-button{
  background-color: #FFCC99;
  /*border: 1px solid #331900;*/
}


.inactive-button{
  background-color: #F0DECB;
  /*border:1px solid #808080;*/
  color:#808080;
}

.active1-button:hover,
.active2-button:hover{
  font-weight: bold;
  /*border: solid 2px #331900;*/
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor:pointer;
}

.dropdown-container {
  display: none;
  position: absolute;
  background-color: #ffffed;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
}

.dropdown-container a {
  float: none;
  color: #FFFFFF;
  padding: 12px 16px;
  font-style: italic;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #FF8000;
  color: #FFFFFF;
}


.dropdown-container a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #FFCC99;
  color: #000000;
  font-weight: bold;
}

.dropdown-container a:hover {
  background-color: #FFCC99;
  color: #000000;
  font-weight: bold;
}

.dropdown:hover .dropdown-container {
  display: block;
}

/*----- Form styling -----*/
input, select, textarea{
  /*border-radius: 5px;*/
  padding:10px;
  margin:8px;
  border: 1px solid #331900;
  width:70%
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.label-required{
 color: #FF4000;
 font-weight:bold;
 font-style:italic;
}





input[type="submit"]:hover,
input[type="reset"]:hover
{
  font-weight:bold;
}
/*----- End of form styling -----*




/*----carousel styling-----*/
/*----carousel code source--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow----*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  width:auto;
  height:100%;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through 
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
*/


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 6px;
  background-color: #FFCC99;
  /*border-radius: 50%;*/
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #FF8000;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.0s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*end of carousel styling*/


table, th, td {
  border: none;
  border-collapse: collapse;
  padding-left: 5px, 5px, 5px, 15px;
  margin-left: 14px;;
 }

table {
  border-collapse: collapse;
  vertical-align: middle;
  width:100%;
 }



th:nth-child(odd),td:nth-child(odd) {
  text-align:left;
  }

th:nth-child(even),td:nth-child(even) {
  text-align:left;
  }

/* ----- end of recipe table stylings ----- */


/* ----- tooltip stylings ----- */
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 150px;
  color: #000000;
  font-size: 11px;
  font-family: Helveltica, sans-serif;
  background-color: #FFCC99;
  padding: 10px 10px 10px 10px;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}
.btn-tip-top{
  top: -55px;
  left: 5%;
}

.btn-tip-bottom {
  top: 55px;
  left: 5%;
}

.btn-tip-left {
  top: -15px;
  right: 105%;
}

.btn-tip-right {
  top: -10px;
  left: 105%;
}

.tip-top{
  top: -40px;
  left: -50%;
}

.tip-bottom {
  top: 25px;
  left: -50%;
}

.tip-left {
  top: -8px;
  right: 120%;
}

.tip-right {
  top: -8px;
  left: 120%;
}

.hover-text {
  position: relative;
  /*display: inline-block;*/
  margin: 40px;
  font-family: Helveltica, sans-serif;
  text-align: center;
}
/* ----- end of tooltip stylings ----- */

/*-----footer styles-----*/
footer {
  height: 10%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}


footer img {
  float: left;
  overflow: auto;
  margin: 0;
  padding: 20;
  height: 75px;
  width: auto;
}
footer a{
  color: black;
  text-decoration: none;
  display: inline-block;
  padding:15px;
  
}

/*styles for responsiveness*/
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .topnav.responsive .dropdown {float: none;
  text-align: center;}
  .topnav.responsive .dropdown-container {position: relative;
  text-align: center;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    align-self:middle;
    text-align: center;
  }
  .flex-container{
    display: flex;
    flex-direction: column;
    
  }

  .card{
    width:100%;
  }
  h1 {
    
    font-size: 5.0rem;
}

img.recipe{
  width:100%;
  height:auto;
}
}